# Normally you would ignor the `/vendor/` Composer directory
#/vendor/

# Ignore the `/includes/secrets.php` file (normally you'd use a `.env` file)
/includes/secrets.php

# Ignore VS Code workspace config
/.vscode/